// COLORS
$color-primary: #1D2D44;
$color-primary-light: #3E5C76;
$color-primary-dark: #0D1321;

$color-secondary-light: #6E0377;
$color-secondary-dark: #210124;

$color-tertiary-light: #3EBC10;
$color-tertiary-dark: #25710A;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
